.table {
  margin: 1rem auto;
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
}

th,
td {
  padding: 0.3rem;
  border: 1px solid #e4e9eb;
}

th {
  text-align: left;
}

tr {
  margin: 0.4rem;
}

td:nth-child(1) {
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 0.3rem;
}

td:nth-child(2) {
  padding: 0.3rem;
}

tbody tr:nth-child(odd) {
  background-color: #f2f3f3;
}
