.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 3rem 6rem;
}

.rocket-item {
  display: flex;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding-right: 1.2rem;
  overflow: hidden;
}

.rocket-item img {
  width: 350px;
}

.rocket-details {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding-top: 1rem;
}

.rocket-details-name {
  font-size: 2rem;
  font-weight: 500;
}

.rocket-details-description {
  font-weight: 400;
  line-height: 1.3;
  font-size: 2rem;
}
